.header {

  img {
    display: block;
    width: 100%;
    max-width: auto;
    height: auto;
  }

  &.inverse,
  &.navber-inverse {
    background-color: $navbar-inverse-bg;
  }

}

.navbar-brand {
  float: left;
}

.header-image {

  img {
    display: block;
    width: 100%;
    max-width: auto;
    height: auto;
  }

}
