$mobile-nav-width: 20rem;

.navbar.navbar-fixed-top,
.navbar.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-bottom {
  bottom: 0;
}


// Global nav reset
//
ul.nav {
  list-style: none;
  padding-left: 0;

  li {
    margin: 0;
    padding: 0;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }
}


// Main navigation
// - mobile-first
// - non-mobile is further down
.navbar {
  position: relative;
  z-index: $zindex-navbar;

  .navbar-collapse {
    background: $navbar-inverse-bg;
    border-left: 1px solid darken($navbar-inverse-bg, 12%);
    display: block;
    height: 100%;
    position: fixed;
    right: -$mobile-nav-width;
    top: 0;
    transition: all .3s ease;
    width: $mobile-nav-width;
    z-index: $zindex-navbar;
  }

  // Top level Navigation global defaults
  //
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      position: relative;

      a {
        display: block;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &.header {
    height: $navbar-height;

    // Top-level Navigation - top-level only
    //
    ul.nav {
      display: block;
      list-style: none;

      > li {
        display: block;

        &:hover {
          background: darken($navbar-inverse-bg, 8%);
        }

        > a {
          border-bottom: 1px solid darken($navbar-inverse-bg, 8%);
          height: $navbar-height;
          line-height: 2;
          padding: 1em;
        }
      }
    }

    li {
      // 2nd-level / dropdown
      //
      ul {
        display: none;
        margin: 0;
        padding: 0;
        z-index: $zindex-dropdown;

        li {
          background-color: darken($navbar-inverse-bg, 5%);
          display: block;

          &:hover {
            background: default;
          }

          a {
            padding: .775em .875em .775em 1.5em;
            color: lighten($brand-secondary, 55%);
            border-bottom: 1px solid darken($navbar-inverse-bg, 12%);
          }
        }
      }

      &:hover ul {
        display: block;
      }

    }// end li

    // Mobile nav toggle button
    //
    label {
      display: block;
      padding: .135em .445em;
      position: absolute;
      font-size: 2em;
      color: lighten($navbar-default-toggle-hover-bg, 65%);
      right: 0;
      top: 0;
      background: $navbar-inverse-toggle-hover-bg;
      transition: all .3s ease;
      z-index: $zindex-navbar;

      i {
       color: lighten($navbar-default-toggle-hover-bg, 65%);
      }
    }

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox]:checked ~ .navbar-collapse {
      right: 0;
    }

    input[type=checkbox]:checked ~ label {
      outline: 0;
      right: $mobile-nav-width;
    }
  }

}



// Breakpoints
//
@media only screen and (min-width: $screen-sm-min) {
  // Tablet and up

  .navbar {
    overflow: visible;

    .navbar-collapse {
      position: initial;
      right: initial;
      display: block;
      height: auto;
      width: auto;
      border-left: 0;
      font-size: 15px;
    }

    &.header {

      // Top-level Navigation - top level only
      ul.nav {
        float: left;
        height: $navbar-height;

        > li {
          display: inline-block;
          float: left;

          > a {
            padding: $nav-link-padding;
            border: 0;
          }
        }
      }

      &.header ul {

        li {

          &:hover {

            // second level / dropdown
            //
            ul {
              position: absolute;
              top: 99.99%;

              li {
                min-width: 10em;

                &:hover {
                  background: darken($navbar-inverse-bg, 10%);
                }

                a {
                  padding: .5em 1em;
                }
              }
            }
          }

        }
      }

      // hide mobile nav toggle for Tablet and up:
      label,
      input[type=checkbox] {
        display: none;
      }
    }
  }

  // Secondary Header Navigation
  //
  .navbar-right {
    float: right;
  }

}


// Footer navigation
//
.footer {
  .navbar {

    ul.nav {
      font-size: 1.3125em;
      margin: 1em 0;

      > li {
        margin-bottom: 1em;
      }

      li {
        text-align: left;

        //2nd level
        //
        ul {
          display: block;
          font-size: $font-size-base;

          li {
            display: block;
          }
        }
      }
    }
  }
}
