//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/

@import 'mixins/_position.scss';
@import 'mixins/_selection.scss';
@import '../components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';

//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'modules/_variables.scss';

// Sass variables
$ccm-toolbar-height: 49px;


// ----------------------------------
// Fix Concrete5 conflicts:
//

#ccm-page-controls-wrapper,
.ccm-ui,
.ccm-ui input,
.ccm-ui textarea,
.ccm-ui select,
.ccm-ui .uneditable-input {
  box-sizing: content-box !important;
}

.navbar.navbar-fixed-top {
  top: $ccm-toolbar-height !important;
}

#ccm-page-controls-wrapper {
  z-index: $zindex-modal + 100;

  #ccm-toolbar,
  #ccm-intelligent-search-results,
  #ccm-dashboard-overlay,
  #ccm-edit-overlay {
    z-index: $zindex-modal + 100;
  }
}
