//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/

@import 'mixins/_position.scss';
@import 'mixins/_selection.scss';
@import '../components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';

//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'modules/_variables.scss';

// Sass variables
$ccm-toolbar-height: 49px;


// ----------------------------------
// Fix Concrete5 conflicts:
//
body {

  #page-content {
    margin-top: $ccm-toolbar-height;
  }

  .navbar {
    &.navbar-fixed-top {
      top: $ccm-toolbar-height !important;
      z-index: $zindex-modal - 51;
    }
  }


  #ccm-page-controls-wrapper,
  .ccm-ui,
  .ccm-ui input,
  .ccm-ui textarea,
  .ccm-ui select,
  .ccm-ui .uneditable-input,
  div.ccm-block,
  div.ccm-area {
    box-sizing: content-box !important;
  }

  #ccm-page-controls-wrapper {
    z-index: $zindex-modal + 100;
    box-sizing: content-box !important;

    #ccm-toolbar,
    #ccm-intelligent-search-results,
    #ccm-dashboard-overlay,
    #ccm-edit-overlay {
      z-index: $zindex-modal + 100;
      box-sizing: content-box !important;
    }
  }

  #ccm-edit-overlay,
  .ccm-edit-overlay-inner,
  #ccm-edit-overlay-footer,
  div#ui-widget-overlay,
  div#ccm-highlighter {
    z-index: $zindex-modal + 100;
    box-sizing: content-box !important;
  }
}
